/bin/
/dll/
/lib/
.classpath
.project
/SchachTurnierBastler-Turnier-Runde-0-AutoSave.stb
/SchachTurnierBastler-Turnier-Runde-1-AutoSave.stb
/SchachTurnierBastler-Turnier-Runde-2-AutoSave.stb
/SchachTurnierBastler-Turnier-Runde-3-AutoSave.stb
/SchachTurnierBastler-Turnier-Shutdown-AutoSave.stb
/SchachTurnierBastler-Turnier-Runde-4-AutoSave.stb
/SchachTurnierBastler-Turnier-Runde-5-AutoSave.stb
/SchachTurnierBastler-Turnier-Runde-6-AutoSave.stb
/SchachTurnierBastler-KOTurnier-Runde-0.stb
/SchachTurnierBastler-KOTurnier-Runde-0-AutoSave.stb
/SchachTurnierBastler-KOTurnier-Runde-1-AutoSave.stb
/SchachTurnierBastler-KOTurnier-Runde-2-AutoSave.stb
/SchachTurnierBastler-KOTurnier-Runde-3-AutoSave.stb
/SchachTurnierBastler-KOTurnier-Runde-4-AutoSave.stb
/SchachTurnierBastler-KOTurnier-Runde-5-AutoSave.stb
/SchachTurnierBastler-KOTurnier-Shutdown-AutoSave.stb
