/bin/
/dll/
/lib/
.classpath
.project
mannschft5
/SchachTurnierBastler-Turnier-Runde-0-AutoSave.stb
/SchachTurnierBastler-Turnier-Runde-1-AutoSave.stb
/SchachTurnierBastler-Turnier-Runde-2-AutoSave.stb
/SchachTurnierBastler-Turnier-Runde-3-AutoSave.stb
